<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <style>
        html, body, #indexer { margin: 0; padding: 0;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #thumbnails {
            /* background-color: #445e6d; */
            clear: both;
            /*top: 50px;*/
            /*position: relative;*/
        }

        #indexer, #subindexer, #subsubindexer {
            margin: 0;
            padding: 0;
            float: left;
        }

        #current {
            display: none;
            width: 100%;
            height: 100%;
            background-color: #24404f;
            text-align: center;
        }
        #current.enabled {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        #current #current_tags {
            position: absolute;
            float: left;
            top: 0px;
            left: 0px;
        }
        #current #current_tags span {
            background-color: yellow;
        }

        #current #filename {
            position: absolute;
            float: left;
            left: 50%;
            top: 0px;
            background-color: yellow;
        }

        #current #orientation {
            position: absolute;
            float: left;
            left: 50%;
            top: 20px;
            background-color: yellow;
        }

        #current img {
            max-width: 100%;
            max-height: 100%;
        }
        #floating_clicker div {
            /*border: solid 1px green;*/
            /*background-color: red;*/
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }
        #floating_clicker div#right {
            /*border: solid 1px green;*/
            /*background-color: red;*/
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
        }

        #process_video {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: grey;
            z-index: 99999;
        }

        #filter_bar {
            height: 50px;
            background-color: blueviolet;
            top: 200px;
            width: 100%;
            position: absolute;
            clear: both;
        }
        #filter_bar .input {
            float: left;
        }
        #filter_bar .preview {
            background-color: green;
        }
        #filter_bar .selected {
            background-color: yellow;
        }


        #tag_dialog {
            height: 50px;
            background-color: blueviolet;
            top: 200px;
            left: 0px;
            width: 100%;
            position: absolute;
            clear: both;
            display: none;
        }
        #tag_dialog .input {
            float: left;
        }
        #tag_dialog .preview {
            background-color: green;
        }
        #tag_dialog .selected {
            background-color: yellow;
        }

        #info {
            display: none;
            position: absolute;
            top: 10px;
            background-color: gold;
        }
    </style>
</head>
<body>

<canvas id="indexer"></canvas>
<canvas id="subindexer"></canvas>
<canvas id="subsubindexer"></canvas>

<div id="filter_bar">
    <input class="input" type="text" placeholder="Type tag here..." onkeyup="on_tag_keydown(this, event)">
    <div class="preview">
    </div>
    <div class="selected">
    </div>
</div>

<div id="thumbnails">
</div>

<div id="info">
    first_index: <span id="first_index"></span>
    last_index: <span id="last_index"></span>
    requested: <span id="requested"></span>
</div>

<script>
    let canvas = document.getElementById("indexer");
    let canvas2 = document.getElementById("subindexer");
    let canvas3 = document.getElementById("subsubindexer");
    let thumbs = document.getElementById("thumbnails");
    let ctx = canvas.getContext("2d");
    let ctx2 = canvas2.getContext("2d");
    let ctx3 = canvas3.getContext("2d");
    let axis_data = [];
    let tags = [];
    let tags_preview = [];
    let tags_selected = [];
    let selected_x = 0;
    let selected_x2 = 0;
    let selected_x3 = 0;
    let selected_idx = 0;
    let selected_idx2 = 0;
    let selected_idx3 = 0;
    // let selected_width = window.innerWidth;
    let requested = -1;
    let num_files = 0;

    let first_index = 0;
    let last_index = 0;

    let current_img = null;
    let top_padding_thumbs = 250;
    let global_handler_enabled = true;

    function update_current_image()
    {
        var real_url = current_img.getAttribute('real-url');
        var tags = current_img.getAttribute('tags');
        var orientation = current_img.getAttribute('orientation');
        tags = tags.substr(0, tags.length - 1);
        tags = tags.split(";");
        let h = '';
        for (let tag of tags) {
            if (!tag) continue;
            h += '<span><span>Tag:<span>' + tag + '</span></span> <button onclick="remove_tag(this)">remove</button></span>';
        }
        let obj = document.querySelector('#current #current_tags');
        obj.innerHTML = h;


        obj = document.querySelector('#current img');
        obj.src = real_url;
        obj = document.querySelector('#current');
        obj.className = 'enabled';

        console.log(orientation);
        obj = document.querySelector('#current #orientation');
        obj.innerText = orientation;

        obj = document.querySelector('#current #filename');
        obj.innerText = real_url;
    }

    function request_thumbs(force, target, callback)
    {
        if (typeof target === 'undefined') {
            target = 'next';
        }

        let specific_index = 0;
        if (force) {
            specific_index = requested;
        } else {
            // calculate percentage and actual index... this is going to be a bit ugly..
            let index1 = axis_data[selected_idx3].index;
            let index2 = num_files;
            if (selected_idx3 + 1 < axis_data.length) {
                index2 = axis_data[selected_idx3 + 1].index;
            }
            let data_idx = 0;
            let perc = (selected_x / window.innerWidth) * 100 + (selected_x2 / window.innerWidth);
            let x1 = 0;
            let x2 = window.innerWidth;
            for (let i = 0; i < window.innerWidth; i++) {
                let subperc = i / window.innerWidth;
                while (data_idx < axis_data.length && axis_data[data_idx].percentage < perc + subperc) {
                    data_idx++;
                    if (data_idx >= axis_data) {
                        data_idx = axis_data.length - 1;
                        break;
                    }
                    if (axis_data[selected_idx3] === axis_data[data_idx]) {
                        x1 = i;
                    }
                    if (selected_idx3 + 1 < axis_data.length) {
                        if (axis_data[selected_idx3 + 1] === axis_data[data_idx]) {
                            x2 = i;
                        }
                    }
                }
            }
            // hack, the 1nd pivot is out of the element
            if (x1 === 0) {
                x1 = 0;
            }
            // hack, the 2nd pivot is out of the element
            if (x2 === 0) {
                x2 = window.innerWidth;
            }
            let ratio = (selected_x3 - x1) / (x2 - x1);
            specific_index = Math.floor((ratio * (index2 - index1)) + index1);
            console.log(x1, x2, selected_x3, ratio, specific_index);
            //} else {
            //    specific_index = axis_data[selected_idx3].index; // we cannot estimate near the end..
            //}
            if (requested === specific_index) {
                return; // avoid dupe
            }
            requested = specific_index;
            console.log("updating requested to: " + requested);
        }
        console.log("requesting thumbs for index: " + specific_index);
        fetch('http://192.168.2.25:18080/' + target + '/' + specific_index + "/" + thumbs.clientWidth + "/" + thumbs.clientHeight + "/200/200")
            .then(function (response) {
                // Successfull fetch return as json
                return response.json();
            })
            .then(function (data) {
                // Data now contains the json
                thumbs.innerHTML = '';
                first_index_bak = first_index;
                first_index = -1;
                console.log('retrieved: ' + data.length + ' images');
                for (let img of data) {
                    if (first_index === -1) { first_index = img.index; }
                    last_index = img.index;
                    let img1 = document.createElement("img");
                    img1.width = img.width;
                    img1.height = img.height;
                    img1.style.position = 'absolute';
                    img1.style.left = img.x + 'px';
                    img1.style.top = (img.y + top_padding_thumbs) + 'px';
                    img1.style.backgroundColor = 'red';
                    let shadow_url = 'https://photoapp.cppse.nl/shadow_dir';
                    let original_url = 'https://photoapp.cppse.nl/original_dir'
                    // shadow_url = 'file:///mnt2/NAS/photos/DATA/2_shadow';
                    // original_url = 'file:///mnt2/NAS/photos/DATA/2';
                    shadow_url = '/img/preview';
                    original_url = '/img/original'
                    img1.src = shadow_url + "/" + encodeURIComponent(img.thumb_url);
                    if (img.thumb_url.endsWith('.gif')) {
                        img1.setAttribute('real-url', shadow_url + "/" + encodeURIComponent(img.url) + ".gif");
                    } else {
                        img1.setAttribute('real-url', shadow_url + "/" + encodeURIComponent(img.url));
                    }
                    img1.setAttribute('orientation', img.orientation);
                    img1.setAttribute('tags', img.tags);
                    if (img.thumb_url.endsWith('.gif')) {
                        img1.setAttribute('video-url', original_url + "/" + encodeURIComponent(img.url));
                    }
                    img1.onclick = function (e) {
                        current_img = e.target;
                        update_current_image();
                    }
                    thumbs.appendChild(img1);
                }
                if (first_index === -1) {
                    first_index = first_index_bak;
                }
                console.log("the indexes are: " + first_index + " - " + last_index);
                if (callback) callback();
            })
            .catch(function (error) {
                // A Error occured
                console.log(error);
            });
        document.getElementById('first_index').innerText = first_index;
        document.getElementById('last_index').innerText = last_index;
        document.getElementById('requested').innerText = requested;
    }

    function prev(callback) {
        requested = first_index - 1;
        request_thumbs(true, 'previous', callback);
    }

    function next(callback) {
        requested = last_index + 1;
        request_thumbs(true, 'next', callback);
    }

    function update(x, y)
    {
        canvas.style.width = window.innerWidth + 'px';
        canvas.width = window.innerWidth;
        canvas.height = 50;

        ctx.fillStyle = "#000000";
        ctx.fillRect(0, 0, window.innerWidth, window.innerHeight);
        ctx.font = "16px Arial";

        let data_idx = 0;
        let last_year = 0;
        let selected = false;
        for (let i=0; i<window.innerWidth; i++) {
            let perc = (i / window.innerWidth) * 100;
            while (axis_data[data_idx].percentage < perc) {
                data_idx++;
            }
            if (axis_data[data_idx].year !== last_year) {
                ctx.fillStyle = "#ffffff";
                ctx.fillRect(i, 0, 1, 50);
                ctx.fillStyle = "#ffffff";
                ctx.fillText("" + axis_data[data_idx].year, i, 20);
            }
            if (!selected && i >= selected_x) {
                ctx.fillStyle = "#6666ff";
                ctx.fillRect(i, 0, 1, 50);
                selected = true;
                selected_idx = data_idx;
            }
            last_year = axis_data[data_idx].year;
        }
    }

    function update2(x, y)
    {
        canvas2.style.width = window.innerWidth + 'px';
        canvas2.width = window.innerWidth;
        canvas2.height = 50;

        ctx2.fillStyle = "#333333"
        ctx2.fillRect(0, 0, window.innerWidth, window.innerHeight);
        ctx2.font = "16px Arial";
        ctx2.fillStyle = "#ffffff";
        let perc = (x / window.innerWidth) * 100;
        let data_idx = 0;
        while (axis_data[data_idx].percentage < perc) {
            data_idx++;
        }
        let last_month = 0;
        let selected = false;
        // ctx2.fillText(data_idx + "~ " + axis_data[data_idx].year + " - " + axis_data[data_idx].month + " - " + axis_data[data_idx].day, 10, 50);
        for (let i=0; i<window.innerWidth; i++) {
            let subperc = (i / window.innerWidth);
            while (data_idx < axis_data.length && axis_data[data_idx].percentage < perc + subperc) {
                data_idx++;
            }
            if (data_idx >= axis_data.length) {
                data_idx = axis_data.length - 1;
            }
            if (axis_data[data_idx].month !== last_month) {
                ctx2.fillStyle = "#ffffff";
                ctx2.fillRect(i, 0, 1, 50);
                ctx2.fillStyle = "#ffffff";
                ctx2.fillText("" + axis_data[data_idx].month, i, 20);
            }
            if (!selected && i >= selected_x2) {
                ctx2.fillStyle = "#6666ff";
                ctx2.fillRect(i, 0, 1, 50);
                selected = true;
                selected_idx2 = data_idx;
            }
            last_month = axis_data[data_idx].month;
        }
    }

    function update3(x, y)
    {
        canvas3.style.width = window.innerWidth + 'px';
        canvas3.width = window.innerWidth;
        canvas3.height = 100;

        ctx3.fillStyle = "#666666";
        ctx3.fillRect(0, 0, window.innerWidth, window.innerHeight);
        ctx3.font = "16px Arial";
        ctx3.fillStyle = "#ffffff";

        let perc = (selected_x / window.innerWidth) * 100;
        perc += (x / window.innerWidth);
        let data_idx = 0;
        while (data_idx < axis_data.length && axis_data[data_idx].percentage < perc) {
            data_idx++;
        }
        if (data_idx >= axis_data.length) {
            data_idx = axis_data.length - 1;
        }
        let last_day = 0;
        let mod = 0;
        let selected = false;
        // ctx3.fillText(data_idx + "~ " + axis_data[data_idx].year + " - " + axis_data[data_idx].month + " - " + axis_data[data_idx].day, 10, 50);
        for (let i=0; i<window.innerWidth; i++) {
            let subperc = (i / window.innerWidth);
            while (data_idx < axis_data.length && axis_data[data_idx].percentage < perc + subperc) {
                data_idx++;
            }
            if (data_idx >= axis_data.length) {
                data_idx = axis_data.length - 1;
            }
            if (axis_data[data_idx].day !== last_day) {
                ctx3.fillStyle = "#ffffff";
                ctx3.fillRect(i, 0, 1, 100);
                ctx3.fillStyle = "#ffffff";
                ctx3.fillText("" + axis_data[data_idx].day, i, 20 * mod);
                mod++;
                mod = mod % 5;
            }
            if (!selected && i >= selected_x3) {
                ctx3.fillStyle = "#ff0000";
                ctx3.fillRect(i, 0, 1, 100);
                selected = true;
                selected_idx3 = data_idx; // unused for now
                ctx3.fillText(axis_data[data_idx].year + " - " + axis_data[data_idx].month + " - " + axis_data[data_idx].day, 10, 50);
            }
            last_day = axis_data[data_idx].day;
        }
    }

    function initialize() {
        fetch('http://192.168.2.25:18080/num_images')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                num_files = data;

                // requested = num_files - 1;
                first_index = num_files - 1;
                last_index = num_files;
                prev();
                // request_thumbs(true, 'previous', undefined);
            })
            .catch(function (error) {
                console.log(error);
            });

        fetch('http://192.168.2.25:18080/get_time_indexes')
            .then(function (response) {
                // Successfull fetch return as json
                return response.json();
            })
            .then(function (data) {
                // Data now contains the json
                axis_data = data;
                // needed??
                update();
                // update2();
                // update3();
            })
            .catch(function (error) {
                // A Error occured
                console.log(error);
            });

        fetch('http://192.168.2.25:18080/get_tags')
            .then(function (response) {
                // Successfull fetch return as json
                return response.json();
            })
            .then(function (data) {
                tags = data;
            })
            .catch(function (error) {
                console.log(error);
            });

        fetch('http://192.168.2.25:18080/get_selected_tags')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                tags_selected = data;
                update_tags();
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    window.onload = function () {

        thumbs.style.height = (window.innerHeight - top_padding_thumbs) + 'px';
        initialize();
    }

    function process_video(force) {
        let currentVideoUrl = current_img && current_img.hasAttribute('video-url') ? current_img.getAttribute('video-url') : false;
        if (!force && document.getElementById('process_video').style.display === 'block') {
            document.getElementById('process_video').style.display = 'none';
            videojs('my-video').pause();
        } else {
            if (currentVideoUrl) {
                document.getElementById('process_video').style.display = 'block';
                if (currentVideoUrl.endsWith('.m2t')) {
                    currentVideoUrl = currentVideoUrl.substr(0, currentVideoUrl.length - 4) + '-shadow.mp4'
                    currentVideoUrl = currentVideoUrl.replace('original_dir', 'shadow_dir');
                }
                console.log('setting: ', currentVideoUrl);
                videojs('my-video').pause();
                videojs('my-video').src({src: currentVideoUrl});
                videojs('my-video').play();
            } else {
                // exit
                videojs('my-video').pause();
                document.getElementById('process_video').style.display = 'none';
            }
            //document.getElementById('file').innerHTML = currentVideoUrl;
            //videojs('my-video').src({src: currentVideoUrl, type: 'video/mpeg2'});
            // videojs('my-video').src('test.m3u8');
            //videojs('my-video').play();
        }
    }
    function process_video_if_needed() {
        if (document.getElementById('process_video').style.display === 'block') {
            console.log('processing video with force');
            process_video(true);
        } else {
            console.log('nope');
        }
    }

    function next_image()
    {
        if (current_img) {
            current_img = current_img.nextSibling;
            if (current_img) {
                update_current_image();
                process_video_if_needed();
            } else {
                next(function () {
                    current_img = document.querySelector('#thumbnails img:first-child');
                    update_current_image()
                    process_video_if_needed();
                });
            }
        }
    }
    function prev_image()
    {
        if (current_img) {
            current_img = current_img.previousSibling;
            if (current_img) {
                update_current_image();
                process_video_if_needed();
            } else {
                prev(function () {
                    current_img = document.querySelector('#thumbnails img:last-child');
                    update_current_image();
                    process_video_if_needed();
                });
            }
        }
    }

    document.onkeyup = function (e) {
        if (!global_handler_enabled) return;
        console.log(e.keyCode);
        /* if (window.location.href.indexOf('nas:8081') == -1) {
            console.log('You are not via the NAS url!');
            return;
        } */

        // TODO, basically commented everything out for now

        // var bindings = v.$data.bindings.split('\n');
        // for (var binding of bindings) {
        //     if (!binding.length) continue;
        //     if (e.keyCode == binding[0].charCodeAt()) {
        //         console.log('found tag: [' + binding.substr(2) + ']');
        //         toggle_tag(document.querySelector('.mfp-img'), binding.substr(2));
        //         save();
        //         set_thumb_borders();
        //         return;
        //     }
        // }

        let player = videojs('my-video');
        console.log(e);
        switch (e.key) {
            case 't': // t tag
                let o = document.getElementById('tag_dialog');
                if (o.style.display != 'block') {
                    o.style.display = 'block';
                    o.getElementsByTagName('input')[0].focus();
                    global_handler_enabled = false;
                } else {
                    o.style.display = '';
                    global_handler_enabled = true;
                }

                break;
            case 'j': // j down/(next)
                next_image();
                break;
            case 'k': // k up/ (previous)
                prev_image();
                break;
            case 114: // r (!rotate!)
                // rot -= 90;
                // rot = rot % 360;
                // document.querySelector('.mfp-img').style.transform = 'rotate(' + rot + 'deg)';
                break;
            case 'J': // J next set of images
                next();
                if (current_img) {
                    current_img = document.querySelector('#thumbnails img:first-child');
                    update_current_image();
                }
                break;
            case 'K': // K previous set of images
                prev();
                if (current_img) {
                    current_img = document.querySelector('#thumbnails img:last-child');
                    update_current_image();
                }
                break;
            case 63: // ? for Help
                // var o = document.querySelector('#help');
                // console.log(o.style.display);
                // if (o.style.display == '') {
                //     o.style.display = 'block';
                // }
                // else {
                //     o.style.display = '';
                // }

                break;
            case ' ': // space, pause video
                if (videojs('my-video').paused()) {
                    videojs('my-video').play();
                } else {
                    videojs('my-video').pause();
                }
                break;
            case ',': // , previous frame
                player.pause();
                player.currentTime(player.currentTime() - 1/60);
                break;
            case '.': // . next frame
                player.pause();
                player.currentTime(player.currentTime() + 1/60);
                break;
            case 'P': // P process video
                process_video();
                break;
            case 'F': // F fullscreen
                if (!player.isFullscreen()) {
                    player.requestFullscreen();
                } else {
                    player.exitFullscreen();
                }
                break;
            case 'Escape':
                myclose();
                break;
        }
    }

    function fix_selected_indexes()
    {
        let data_idx = 0;
        for (let i=0; i<window.innerWidth; i++) {
            let perc = (i / window.innerWidth) * 100;
            while (axis_data[data_idx].percentage < perc) {
                data_idx++;
                if (data_idx === selected_idx) {
                    selected_x = i;
                    break;
                }
            }
        }

        data_idx = 0;
        let perc = (selected_x / window.innerWidth) * 100;
        for (let i=0; i<window.innerWidth; i++) {
            let subperc = i / window.innerWidth;
            while (axis_data[data_idx].percentage < perc + subperc) {
                data_idx++;
                if (data_idx === selected_idx2) {
                    selected_x2 = i;
                    break;
                }
            }
        }

        data_idx = 0;
        perc = (selected_x / window.innerWidth) * 100 + (selected_x2 / window.innerWidth);
        for (let i=0; i<window.innerWidth; i++) {
            let subperc = i / window.innerWidth;
            while (data_idx < axis_data.length && axis_data[data_idx].percentage < perc + subperc) {
                data_idx++;
                if (data_idx === selected_idx3) {
                    selected_x3 = i;
                    break;
                }
            }
            if (data_idx >= axis_data.length) {
                data_idx = axis_data.length - 1;
            }
        }
    }

    window.onresize = function () {
        fix_selected_indexes();
        update(selected_x);
        update2(selected_x2);
        update3(selected_x3);

        thumbs.style.height = (window.innerHeight - top_padding_thumbs) + 'px';
        // update3(selected_x + (selected_x2 / window.innerWidth), y);
        // update2(selected_x, y);
        // update();

        request_thumbs(true);
    }

    function handle(flag, mode, e) {
        let x = e.clientX,
            y = e.clientY;

        if (flag) {
            if (mode === 1) {
                x = selected_x;
            }
            else if (mode === 2) {
                x = selected_x2;
            }
            else if (mode === 3) {
                x = selected_x3;
            }
        }

        if (mode === 1) {
            update2(x, y);
        }
        else if (mode === 2) {
            update3(x, y);
        }
    }

    function handle2(mode, e) {
        let x = e.clientX,
            y = e.clientY;
        if (mode === 1) {
            selected_x = x;
        }
        else if (mode === 2) {
            selected_x2 = x;
            update3(selected_x + (selected_x2 / window.innerWidth), y);
        }
        else if (mode === 3) {
            selected_x3 = x;
            update3(selected_x + (selected_x2 / window.innerWidth), y);
            request_thumbs();
        }
        update2(selected_x, y);
        update();
    }

    canvas.onmouseover = handle.bind(canvas, false, 1);
    canvas.onmousemove = handle.bind(canvas, false, 1);
    canvas.onmouseout = handle.bind(canvas, true, 1);
    canvas.onmousedown = handle2.bind(canvas, 1);

    canvas2.onmouseover = handle.bind(canvas2, false, 2);
    canvas2.onmousemove = handle.bind(canvas2, false, 2);
    canvas2.onmouseout = handle.bind(canvas2, true, 2);
    canvas2.onmousedown = handle2.bind(canvas2, 2);

    // canvas3.onmouseover = handle.bind(canvas3, false, 3);
    // canvas3.onmousemove = handle.bind(canvas3, false, 3);
    // canvas3.onmouseout = handle.bind(canvas3, true, 3);
    canvas3.onmousedown = handle2.bind(canvas3, 3);

    function myclose()
    {
        console.log('closing');
        current_img = null;
        document.querySelector('#current').className = '';
    }

    function on_tag_keydown(el, ev)
    {
        console.log(ev.keyCode);
        console.log(document.querySelectorAll('input.input')[0].value);
        ev.preventDefault();
        update_tags();
        return false;
    }

    function on_new_tag_keydown(el, ev) {
        if (ev.keyCode == 27) { // esc
            ev.preventDefault();
            global_handler_enabled = true;
            return false;
        }
        console.log(ev.keyCode);
        console.log(document.querySelectorAll('input.input')[1].value);
        ev.preventDefault();
        //update_tags();
        return false;
    }

    function update_tags(no_update) {
        let preview = document.querySelector('#filter_bar .preview');
        let selected = document.querySelector('#filter_bar .selected');

        let matching_tags = [];
        let h = '';
        let query = document.querySelector('input.input').value;
        for (let tag of tags) {
            if (tags_selected.indexOf(tag) != -1) {
                console.log('already selected');
                continue;
            }
            if (query.length != 0 && tag.toLowerCase().indexOf(query.toLowerCase()) != -1) {
                h += '<span><span>Tag:<span>' + tag + '</span></span> <button onclick="add_tag(this)">add</button></span>';
            }
        }
        preview.innerHTML = h;

        h = '';
        for (let tag of tags_selected) {
            h += '<span><span>Tag:<span>' + tag + '</span></span> <button onclick="del_tag(this)">del</button></span>';
        }
        selected.innerHTML = h;
    }

    function add_tag(el) {
        tags_selected.push(el.parentNode.firstChild.lastChild.innerText);
        update_tags();
        fetch('http://192.168.2.25:18080/set_tags', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ tags: tags_selected })
        })
            .then(function (response) {
                return response;
            })
            .then(function (data) {
                console.log(data);  // You can handle the response data here if needed
                initialize();
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function del_tag(el) {
        let index = tags_selected.indexOf(el.parentNode.firstChild.lastChild.innerText);
        if (index !== -1) {
            tags_selected.splice(index, 1);
        } else {
            return;
        }
        update_tags();
        fetch('http://192.168.2.25:18080/set_tags', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ tags: tags_selected })
        })
            .then(function (response) {
                return response;
            })
            .then(function (data) {
                console.log(data);  // You can handle the response data here if needed
                initialize();
            })
            .catch(function (error) {
                console.log(error);
            });
    }

</script>

<div id="current">
    <img src="" onclick="javascript:myclose();void(0);" />
    <div id="floating_clicker">
        <div id="left" onclick="prev_image()"></div>
        <div id="right" onclick="next_image()"></div>
    </div>
    <span id="current_tags">TAGS HERE</span>
    <span id="filename">filename</span>
    <span id="orientation">orientation HERE</span>
    <span id="tag_dialog">
        <input class="input" type="text" placeholder="Type new tag here..." onkeyup="on_new_tag_keydown(this, event)">
        <div class="preview">
        </div>
        <div class="selected">
        </div>
    </span>
</div>

<link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<style type="text/css">
    .video-js .vjs-time-control{display:block;}
    .video-js .vjs-remaining-time{display: none;}
</style>

<div id="process_video" style="display: none;">
    <center>
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="1080"
    height=""
    data-setup='{ "inactivityTimeout": 0 }'
  >
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
</center>
  <h1 class="title" id="time"></h1>
  <h1 class="title" id="file"></h1>

  <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
    <!--
  <script src="video.js"></script>
  -->
  <script>
    videojs('my-video').on('timeupdate', function(){
        var currentTime = this.currentTime();
        var millisecs = currentTime - Math.floor(currentTime);
        console.log('the time was updated to: ' + currentTime);
        var strTime = new Date(this.currentTime() * 1000.0).toISOString().substr(11, 8);
        strTime += '.' + Math.floor(millisecs * 1000);
        document.querySelector('#time').innerHTML = strTime;
    });
    videojs('my-video').ready(function(){
        this.play();
    });
  </script>
</div>


</body>
</html>

